.trending-games {
    margin-top: auto;
    padding: 20px;
    border-top: 1px solid #ddd;
    background-color: #3b3a3a;
    border-radius: 7px;
  }
  
  .trending-games h2 {
    font-size: 1.3em;
    margin-bottom: 40px;
  }
  
  .trending-games ul {
    list-style: circle;
    padding: 0;
  }
  
  .trending-games li {
    display: flex;
    margin-bottom: 10px;
  }
  
  .game-info1 {
    display: flex;
    margin-left: 2px;
    margin-bottom: 20px;
  }
  
  .game-title {
    font-weight: bold;
    font-size: 13px;
  }
  
  .game-rating {
    color: #ffcc00;
    margin-left: 35px;
  }
  